@keyframes render-banner {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.banner-container {
  display: flex;
  top: 15%;
  left: 0px;
  width: 100%;
  height: 42.5%;
  position: absolute;
  align-items: center;
  font-size: 35px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  animation-name: render-banner;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;

}
.about-banner {
  top: 57.5%;
}

.banner-image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 10%;
  color: white;
  transition: 0.1s;
}

.banner-text:hover {
  color: #0d4c6d;
}
